
@{
    ViewBag.Title = "DetailModule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Module of Details</h2>
<hr />
<hr />
<dl>
    <dt>
        Module ID    
    </dt>
    <dd>

    </dd>
</dl>


